$black = #131515ff
$gray = #2b2c28ff
$light-gray = rgb(170, 170, 170)
$dark-green = #339989ff
$light-green = #7de2d1ff
$white = #fffafbff

h1
    margin: 0
    color: $black

a
    color: $dark-green

.auth
    width: 20%
    color: $black
    border-radius: 1rem
    background-color: $white

.auth span
    font-size: 0.9rem
    color: $gray
